<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <form method="post" action="{% url 'accountapp:logout' %}">
            {% csrf_token %}
            <span>
                <button type="submit">Logout</button>
            </span>
        </form>
        
        <!--
        <a href="{% url 'accountapp:logout' %}">
            <span>Logout</span>
        </a>
        -->
        {% endif %}
    </div>

</div>